body, html {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(2,0,36);
background: linear-gradient(176deg, rgba(2,0,36,1) 0%, rgba(154,229,218,1) 0%, rgba(15,152,180,1) 100%);
}